@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Margarine&family=Oleo+Script:wght@400;700&family=Overpass:ital,wght@0,100..900;1,100..900&family=Playwrite+PE:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Overpass", sans-serif;
}

html {
    overflow-y: auto;
    overflow-x: hidden;
}

* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

header {
    background: #4999F8;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    padding: 1.4em;
    position: sticky;
    top: 0;
    z-index: 3;
}

header nav ul {
    display: flex;
    gap: 3em;
    align-items: center;
}

header nav {
    margin-right: 3em;
}

.h1-wrapper {
    margin-left: 3em;
}

header nav ul li {
    display: block;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

header nav ul li a:hover {
    color: black;
    transition: 0.4s ease-in-out;
}

header nav ul li:last-child a {
    background: black;
    padding: 0.5em 1.8em;
    border-radius: 1.2em;
}

header nav ul li:last-child a:hover {
    color: #4999F8;
}

.home {
    background: #FFC196;
}

.home section > img {
    width: 100%;
    max-width: 400px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    box-shadow: 0 0.1 0.2em 0 rgb(0, 0, 0);
}

.home > img {
    transform: rotate(90deg);
    width: 500px;
    height: 510px;
}


.home > section:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 4em;
    flex-wrap: wrap;
    min-height: 55vh;
    
}

.h2-wrap {
    font-size: 2em;
    width: 600px;
}

.h2-wrap h2 {
    margin-bottom: 0.2em;
}

.p-wrap {
    display: flex;
    align-items: center;
}

.p-wrap p {
    font-size: 0.7em;
}

.p-wrap span {
    font-size: 0.7em;
}

.home section:last-child {
    text-align: center;
}

.home section:last-child h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.work-with-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    flex-wrap: wrap;
    gap: 2em;
    margin: 0 auto;
    
}

.wrap-img {
    position: relative;
    display: inline-block;
    border: 1.5px solid white;
    padding: 0.5em 2em;
    border-radius: 0.6em;
    width: 200px;
    text-align: center;
    
}

.wrap-img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0.5;
    z-index: 1;
}

.wrap-img img {
    position: relative;
    z-index: 2;
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.wrap-img > h4 {
    font-size: 1.1em;
    
}

.wrap-img:last-child {
    margin-bottom: 1.5em;
}

.img-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.wrap-img:hover {
    transform: scale(1.05);
    transition: 0.2s ease-in;
}


section:last-child  a {
    color: #444;
}

.about-me {
    background: #66CDAA;
    min-height: 60dvh;
}

.about-me > section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 60dvh;
    gap: 10em;
}

.about-me > h2, .projects > h2, .certificates > h2 {
    font-size: 2em;
    color: black;
}

.certificates > h2 {
    margin-bottom: 2em;
    color: white;
}

.about-me > section .p-wrapper {
    max-width: 600px;
    font-size: 1.8em;
    font-weight: 300;
}

.about-me > section img {
    width: 450px;
    height: 440px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.about-me > .a-wrap {
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
}

.about-me > .a-wrap a {
    background: #369;
    color: white;
    text-decoration: none;
    padding: 0.9em 1.6em;
    border-radius: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}

.about-me > .a-wrap a:hover {
    opacity: 0.8;
    cursor: pointer;
}

.a-wrap i {
    margin-right: 0.5em;
}

.projects {
    min-height: 60dvh;
    background-color: #6667AB;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    min-height: 50dvh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prev {
    position: absolute;
    top: 50%;
    left: 10px;
    background: lightgray;
    padding: 0.6em 0.9em;
    border-radius: 0.3em;
    cursor: pointer;
    user-select: none;
}

.next {
    position: absolute;
    top: 50%;
    right: 10px;
    background: lightgray;
    padding: 0.6em 0.9em;
    border-radius: 0.3em;
    cursor: pointer;
    user-select: none;
}

.prev:hover, .next:hover {
    opacity: 0.5;
    transition: ease-in-out 0.3s;
}

.mySlides {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background: white;
    border-radius: 0.5em;
    display: none;
}

.mySlides:first-child {
    display: flex;
}

.mySlides p {
    margin: 1em;
    text-align: center;
}

.mySlides img {
    border-radius: 0.3em;
}

.a-links-in-project a:first-child {
    margin-right: 1em;
}

.a-links-in-project i {
    padding-right: 0.3em;
}

.a-links-in-project a {
    text-decoration: none;
    background: black;
    color: white;
    padding: 0.6em 1em;
    border-radius: 1em;
    transition: ease-in-out 0.2s;
}

.a-links-in-project a:hover {
    color: #4999F8;
    transition: ease-in-out 0.3s;
}

.a-links-in-project {
    padding-top: 1em;
}

.dot, .dots {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.certificates {
    min-height: 60dvh;
    background: #92A8D1;
}

.certificate-slideshow {
    width: 100%;
    max-width: 800px;
    position: relative;
    margin: 5em;
    min-height: 50dvh;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    color: white; 
}

.certificate-slideshow img {
    margin: 1em 0;
}

.certificateSlides {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.certificate-slideshow > .next, .certificate-slideshow > .prev {
    color: black;
}

.certificateSlides {
    display: none;
}

.certificateSlides:first-child {
    display: flex;
}

.certificateSlides > h2 {
    margin-bottom: 1em;
}

li > a.active {
    background: none;
    border-bottom: 0.4em solid #F7CAC9;
    transition: ease-in-out 0.3s;
}

.contacts {
    min-height: 60dvh;
    background: #F7CAC9;
}

.contacts > div > a {
    text-decoration: none;
}

.icon {
    border: 1px solid black;
    text-align: center;
    padding: 0.9em;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 0.3em;
}

.icon > i {
    font-size: 2em;
    margin-bottom: 0.2em;
}

.contacts-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2em;
    margin: 0 auto;
    min-height: 60dvh;
}

.contacts > .text {
    margin: 0 auto;
    border: 1px solid black;
}

.a-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    max-width: 300px;
    text-align: center;
}

.a-links > a {
    text-decoration: none;
}

section[class] {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    scroll-snap-align: start; 
    padding: 2em;
    box-sizing: border-box
}

.instagram {
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    color: white;
}

.facebook {
    background: #0766FF;
    color: white;
}

.gmail {
    background: #DE5347;
    color: white;
}

.discord {
    background: #5562EB;
    color: white;
}

.github {
    background: #090909;
    color: white;
}

.snapchat {
    background: #BC922C;
    color: white;
}

.contacts-wrap > h2 {
    font-size: 2em;
}

.hamburger {
    display: none;
}


@media (max-width: 1127px) {
    .h2-wrap {
        margin: 0 auto;
        text-align: center;
    }
    
    .p-wrap {
        margin: 0 auto;
        text-align: center;
        display: flex;
        justify-content: center;
        margin-bottom: 1em;
    }
    
    .about-me > section {
        flex-direction: column-reverse;
        gap: 0;
    }
    
    .about-me > section img {
        margin: 1.5em 0;
    }
    
    .about-me > section p {
        margin-bottom: 1em;
    }
}


@media (max-width: 1050px) {
    header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: static;
    }
    
    h1 {
        width: 100%;
        margin-bottom: 1em;
        font-size: 1.7em;
    }
    
    .h1-wrapper {
        width: 100%;
        margin: 0 auto;
    }
    
    nav ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 200px;
        margin: 0 auto;
    }
}

@media (max-width: 1050px) {
    header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    h1 {
        width: 100%;
        margin-bottom: 1em;
    }
    
    .h1-wrapper {
        max-width: 200px;
        margin: 0 auto;
    }
    
    nav ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 200px;
        margin: 0 auto;
    }
    
    .h2-wrap {
        margin: 0 auto;
        text-align: center;
    }
    
    .p-wrap {
        margin: 0 auto;
        text-align: center;
        display: flex;
        justify-content: center;
        margin-bottom: 1em;
    }
    
    .work-with-wrapper {
        flex-direction: column;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
        width: 100%;
    }
    
    .about-me > section {
        flex-direction: column-reverse;
        gap: 0;
    }
    
    .about-me > section img {
        margin: 1.5em 0;
    }
    
    .about-me > section p {
        margin-bottom: 1em;
    }
    
    .contacts-wrap > p {
        text-align: center;
        margin: 0 auto;
    }
}

@media (max-width: 750px) {
    .hamburger {
        display: block;
    }
    
    header {
        display: none;
    }
    
    
    .checkbox {
        display: none;
    }
    
    .button {
        position: relative;
        background-color: white;
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        position: fixed;
        top: 5vh; 
        right: 5vw; 
        z-index: 2000;
        box-shadow: 0 1rem 3rem black;
        text-align: center; 
        cursor: pointer;
    }
    
    .background {
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        position: fixed;
        top: 5.5vh; 
        right: 5.5vw; 
        background-image: radial-gradient(green, black);
        z-index: 1000;
        
        transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    }
    
    .nav {
        height: 100vh;
        position: fixed;
        top: 0;
        right: -60vw;
        z-index: 1500;
        opacity: 0;
        width: 0;
        transition: all 0.8s;
    }
    
    .list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
        width: 100%;
    }
    
    .item {
        margin: 1rem;
        font-size: 36px;
    }
    
    .link {
        text-decoration: none;
        color: white;
    }

    .link:not(:last-child) {
        padding-bottom: 3em;
    }
    
    .link:hover,
    .link:active {
        color: lightgreen;
        cursor: pointer;
    }
    
    .checkbox:checked ~ .background {
        transform: scale(80);
    }
    .checkbox:checked ~ .nav {
        opacity: 1;
        width: 100%;
        right: 0;
    }
    
    .icons {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .icons,
    .icons::before,
    .icons::after {
        width: 3rem;
        height: 2px;
        background-color: gray;
        display: inline-block;
    }
    
    .icons::before,
    .icons::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all 0.2s;
    }
    
    .icons::before {
        top: -0.8rem;
    }
    .icons::after {
        top: 0.8rem;
    }
    
    .button:hover icons:before {
        top: -1rem;
    }
    .button:hover icons::after {
        top: 1rem;
    }
    
    .checkbox:checked + .button .icons {
        background-color: transparent;
    }
    
    .checkbox:checked + .button .icons::before {
        top: 0;
        transform: rotate(135deg);
    }
    .checkbox:checked + .button .icons::after {
        top: 0;
        transform: rotate(-135deg);
    }

    li > a.active {
        border-bottom: none;
    }
}

@media (max-width: 450px) {
    .home > section > section > img {
        width: 350px;
        height: 350px;
    }

    .work-with-wrapper {
        display: flex;
        flex-direction: column;
    }

    #typing {
        font-size: 0.6em;
    }

    section > .img-wrapper > img {
        width: 350px;
        height: 350px;
    }

    .p-wrapper p {
        font-size: 0.7em;
    }

    .text {
        font-size: 1.1em;
    }

    .mySlides > img {
        width: 300px;
    }
    
    .projects > h2 {
        margin-bottom: 2em;
        text-align: center;
    }

    .mySlides {
        margin-bottom: 1.5em;
    }

    .prev {
        left: 0;
    }

    .next {
        right: 0;
    }

    .a-links-in-project {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1em;
        justify-content: center;
    }

    .a-links-in-project a:last-child {
        width: 95%;
    }

    .a-links-in-project a {
        text-align: center;
    }
    
    .certificateSlides > img {
        width: 300px;
    }

    .certificateSlides {
        font-size: 1em;
        text-align: center;
    }

    .certificate-slideshow > .prev {
        top: 40%;
    }

    .certificate-slideshow > .next {
        top: 40%;
    }
}

@media (min-width: 1050px) {
    header {
        position: sticky;
        top: 0;
        z-index: 100;
    }

}

@media (max-width: 600px) {
    body, html {
        overflow-x: hidden;
    }
}